div{
    height:400px;
    width:20vw;
    background-color: white;
    padding: 1vw;
    border-radius: 10px;
}

div:hover{
    box-shadow: 1px 1px 1px white;
    transform: scale(1.1);
    transition: 0.2s;
}

img{
    height: 70%;
    width:100%;
}

button{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    padding: 1vw;
    background:none;
    color: blue;
    border-radius: 10px;
}

button:hover{
    background-color: blue;
    color: white;
}

h3{
   font-size: 1.2vw;
}
